.shedule-widget .table.table-condensed th,
.shedule-widget .table.table-condensed td {
    padding: 3px;
}

.shedule-widget .free-lessons {
    background-color: #fff;
    padding: 20px;
}

.shedule-widget table table td .badge
{
    width: 100%;
}

.shedule-widget table table .droppable.placeable {
    background-color: #98fb98;
}

span[data-entity="lesson"] {
    font-size: 11px;
    font-weight: 100;
}